* {
  padding: 0;
  margin: 0;
}

body {
  background: rgb(65, 131, 163);
  position: relative;
  max-height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.container-header {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  right: 0;
  top: 0;
  overflow: hidden;
  padding-right: 5px;
}

.container-header ul li {
  list-style: none;
  text-align: end;
}

.container-header ul li ul li {
  padding-top: 10px;
  transition: 300ms all ease-in-out;
  font-weight: 300;
}

.hover-this {
  height: 13px;
}

.container-header a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

.hover-this:hover {
  height: 100px;
  transition: 300ms all ease-in-out;
  padding-right: 10px;
}

.container-header ul li ul li:hover {
  padding-right: 20px;
  transition: 300ms all ease-in-out;
  font-weight: 600;
}

.container-header span {
  font-weight: bold;
  font-size: 22px;
  font-style: oblique;
  margin-left: 5px;
}

.title-tag {
  margin-bottom: 20px;
}

.second-layer {
  display: flex;
  justify-content: flex-end;
  position: relative;
  margin-bottom: 5px;
  width: 100%;
}

.view-rows {
  position: absolute;
  height: 25px;
  overflow: hidden;
  padding-top: 5px;
  margin-right: 300px;
  transition-property: height;
  transition-duration: 1s;
  z-index: 10;
  background-color: white;
}

.view-rows div {
  margin-top: 5px;
  border-bottom: 1px solid #eee;
}

.view-rows input {
  width: 100%;
  display: block;
  background-repeat: no-repeat;
  background: transparent;
  outline: none;
  border: none;
}

.view-rows input:hover {
  background-color: #5889f1;
}

.view-rows:hover {
  cursor: pointer;
  height: 130px;
}

.search-bar {
  padding-left: 5px;
  margin-right: 5px;
}

.container-parent {
  max-height: 94vh;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 5px black;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 85%;
  margin-top: 55px;
}

.container-child1 {
  text-align: center;
  background-color: white;
  z-index: 2;
  padding-right: 20px;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid rgb(78, 77, 77);
  margin-bottom: 5px;
  width: 100%;
}

.table-head {
  display: flex;
  padding-left: 15px;
  position: relative;
  margin-bottom: 10px;
  white-space: nowrap;
}

.container-parent table {
  min-width: 100%;
  display: inline-table;
  border-collapse: collapse;
  text-align: center;
}

.container-child2 {
  overflow: scroll;
  position: relative;
  min-width: 80%;
  /* white-space: nowrap; */
}

.index-action {
  text-align: center;
  width: 8%;
}

.index-app-no {
  width: 10%;
  text-align: center;
}

.index-name {
  text-align: center;
  width: 30%;
}

.container-information {
  display: flex;
  border-bottom: 1px solid rgb(196, 191, 191);
  padding: 5px;
  flex-direction: row;
}

.container-information div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.index-contact-no {
  text-align: center;
  width: 12%;
}

.index-email {
  text-align: center;
  width: 27%;
}

.index-status {
  text-align: center;
  width: 10%;
}

.information-action {
  padding-left: 5px;
}

.information-app-no {
  width: 160px;
  text-align: center;
}

.information-name {
  width: 310px;
  text-align: center;
}

.information-contact-no {
  width: 160px;
  text-align: center;
}

.information-email {
  width: 400px;
  text-align: center;
}

.information-status {
  width: 110px;
  text-align: end;
  padding-right: 5px;
  padding-right: 15px;
}

.table-body button {
  height: 30px;
  font-size: 12px;
  font-family: sans-serif;
}

.container-logout a,
.container-change-password a {
  text-decoration: none;
  cursor: pointer;
  color: black;
  font-weight: 600;
  font-style: italic;
}

/* setting up overlay/modal for logout button when clicked */
.container-overlay.active {
  pointer-events: all;
  opacity: 1;
  display: flex;
  z-index: 4;
}

.container-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  transition: 200ms ease-in-out;
  opacity: 0;
  pointer-events: none;
  display: flex;
}

.modal-logout {
  background-color: #fff;
  width: 50%;
  min-height: 170px;
  border-radius: 10px;
  overflow: hidden;
}

.modal-logout-header {
  background-color: #96baff;
  padding: 10px;
  font-family: serif;
  font-weight: bolder;
  font-size: 30px;
}

.modal-logout-header p {
  margin: 0;
}

.modal-logout-message {
  padding: 5px 20px;
  font-family: sans-serif;
  min-height: 50%;
}

.modal-buttons {
  display: flex;
  justify-content: flex-end;
  min-height: 100%;
}

.modal-buttons button {
  margin-right: 10px;
}

.container-change-password {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  transition: 200ms ease-out;
  opacity: 0;
  pointer-events: none;
  display: flex;
  z-index: 5;
}

.active.container-change-password {
  display: flex;
  opacity: 1;
  pointer-events: all;
}

.inside-change-password {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 500px;
  height: 270px;
  background-color: rgb(207, 205, 205);
  border-radius: 10px;
  padding: 20px;
}

.inside-change-password label {
  font-size: 18px;
  font-family: sans-serif;
}

.inside-change-password input {
  padding-left: 5px;
  outline: none;
  margin-bottom: 5px;
}

.inside-change-password input:focus {
  box-shadow: 0 0 2px 2px rgb(67, 105, 231);
  border: none;
}

.inside-button {
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 0 15px 10px 0;
}

.inside-button button {
  font-size: 12px;
  margin-right: 5px;
}

.date-applied {
  display: none;
}

.footer {
  display: flex;
  width: 60%;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  margin-top: 10px;
}

.footer span {
  font-size: 1.1rem;
}
